<?xml version="1.0"?>

<launch>    
	
	
	
　　<arg name="serial_no"             default=""/>
  　<arg name="json_file_path"        default=""/>
    <arg name="camera" default="camera" />
    <!-- start sensor-->
    <group ns="$(arg camera)">
	    <include file="$(find realsense2_camera)/launch/includes/nodelet.launch.xml">
	      <arg name="serial_no"         value="$(arg serial_no)"/>
	      <arg name="json_file_path"    value="$(arg json_file_path)"/>
	      <arg name="depth_width"       value="640"/>
	      <arg name="depth_height"      value="480"/>
	      <arg name="depth_fps"         value="30"/>
	      <arg name="color_width"       value="640"/>
	      <arg name="color_height"      value="480"/>
	      <arg name="color_fps"         value="30"/>
	      <arg name="enable_depth"      value="true"/>
	      <arg name="enable_color"      value="true"/>
	      <arg name="enable_infra1"     value="false"/>
	      <arg name="enable_infra2"     value="false"/>
	      <arg name="enable_fisheye"    value="false"/>
	      <arg name="enable_gyro"       value="false"/>
	      <arg name="enable_accel"      value="false"/>
	      <arg name="enable_pointcloud" value="true"/>
	      <arg name="enable_sync"       value="true"/>
	      <arg name="tf_prefix"         value="$(arg camera)"/>
	    </include>
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find pointcloud_to_laserscan)/rviz/pointcloud_to_scan.rviz" respawn="true" />
    </group>
    


    <!-- run pointcloud_to_laserscan node -->
    <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan">

        <remap from="cloud_in" to="/camera/depth/color/points"/>
        <remap from="scan" to="/modified/scan"/>
        <rosparam>
            target_frame: camera_link # Leave disabled to output scan in pointcloud frame
            transform_tolerance: 0.01
            min_height: -1.0
            max_height: 1.0

            angle_min: -1.5708 # -M_PI/2
            angle_max: 1.5708 # M_PI/2
            angle_increment: 0.0087 # M_PI/360.0
            scan_time: 0.3333
            range_min: 0.45
            range_max: 4.0
            use_inf: true
            inf_epsilon: 1.0

            # Concurrency level, affects number of pointclouds queued for processing and number of threads used
            # 0 : Detect number of cores
            # 1 : Single threaded
            # 2->inf : Parallelism level
            concurrency_level: 1
        </rosparam>

    </node>

</launch>
